.test-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-title-block {
    color: #FFFFFF;
    background-color: #277BE9;
    width: 800px;
    height: 105px;
    border-radius: 0 0 30px 30px;
    padding: 15px 50px 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.test-title-block .number {
    font-family: 'JetBrains Mono', serif;
}

.test-title-block .test-name-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.test-title-block .test-name-block .change-button {
    cursor: pointer;
    font-size: 17px;
}

.test-title-block .change-test-name-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.test-title-block .change-test-name-block .test-name-input {
    height: 35px;
    width: 400px;
    padding: 0 10px;
    font-size: 30px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 3px;
}

.test-title-block .change-test-name-block .ok-button {
    font-size: 30px;
    cursor: pointer;
}

.test-title-block .test-name {
    height: 35px;
    font-size: 30px;
    font-weight: 700;
}

.test-title-block .test-lang {
    margin-top: 10px;
}

.test-title-block .test-max-score {
    margin-top: 10px;
}

.tasks {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.task-cell {
    width: 800px;
    border: #DADCE0 1px solid;
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.task-cell .icon-button {
    position: absolute;
    font-size: 30px;
    color: #7b7b7b;
    cursor: pointer;
    transition: 200ms;
}

.task-cell .icon-button:hover {
    color: #494949;
}

.task-cell .change-button {
    right: 70px;
}

.task-cell .delete-button {
    right: 30px;
}

.task-cell .task-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 650px;
}

.task-cell .task-meta {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.task-main .task-name {
    font-weight: 700;
    font-size: 22px;
}

.task-cell .task-lang {
    color: #7b7b7b;
    font-weight: 700;
    font-size: 18px;
}

.task-cell .task-score {
    font-size: 18px;
    font-weight: 700;
    color: #5b5b5b;
    min-width: fit-content;
    margin-left: 20px;
}

.task-cell .number {
    font-family: 'JetBrains Mono', serif;
    font-weight: 900;
}

.task-cell .task-params {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.task-cell .task-desc {
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
}

.task-cell .task-note {
    margin-top: 18px;
    font-size: 18px;
}

.add-task-button {
    cursor: pointer;
    padding: 5px 30px;
    border: #277BE9 solid 2px;
    border-radius: 10px;
    color: #277BE9;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    transition: 70ms;
    margin-bottom: 100px;
}

.add-task-button:hover {
    background-color: #277BE9;
    color: #FFFFFF;
}

.menu-selector {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.menu-selector .menu-selector-el {
    cursor: pointer;
}

.menu-selector .menu-selector-el p {
    font-size: 20px;
    padding: 0 10px;
    font-weight: 700;
    transition: 100ms;
}

.menu-selector .menu-selector-el p.selected {
    color: #1A73E8;
}

.menu-selector .menu-selector-el p:hover {
    color: #1A73E8;
}

.menu-selector .menu-selector-el .underline {
    margin-top: 4px;
    height: 5px;
    width: 100%;
    border-radius: 4px;
    background-color: #737373;
    transition: 200ms;
}

.menu-selector .menu-selector-el:hover .underline {
    background-color: #1A73E8;
}

.menu-selector .menu-selector-el .underline.selected {
    background-color: #1A73E8;
}