.lesson-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesson-title-block {
    color: #FFFFFF;
    background-color: #02970E;
    width: 800px;
    height: 105px;
    border-radius: 0 0 30px 30px;
    padding: 15px 50px 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

.lesson-title-block .number {
    font-family: 'JetBrains Mono', serif;
}

.lesson-title-block .lesson-name-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.lesson-title-block .lesson-name-block .change-button {
    cursor: pointer;
    font-size: 17px;
}

.lesson-title-block .change-lesson-name-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.lesson-title-block .change-lesson-name-block .lesson-name-input {
    height: 35px;
    width: 400px;
    padding: 0 10px;
    font-size: 30px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 3px;
}

.lesson-title-block .change-lesson-name-block .ok-button {
    font-size: 30px;
    cursor: pointer;
}

.lesson-title-block .lesson-name {
    height: 35px;
    font-size: 30px;
    font-weight: 700;
}

.lesson-title-block .lesson-lang {
    margin-top: 10px;
}

.lesson-page button {
    width: 400px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
    margin-top: 40px;
    background-color: #02970E;
}

.lesson-page button:hover {
    background-color: #06690d;
}

.lesson-page .language-select {
    width: 400px;
    margin-top: 30px;
}

.lesson-page .language-select p {
    font-size: 19px;
}


.lesson-page .language-select select {
    margin-top: 10px;
    width: 100%;
    outline: none;
    padding: 0 7px;
    height: 40px;
    font-size: 17px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    cursor: pointer;
}