.respondent-session-page {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.respondent-session-page .respondent-session-sidebar {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    border-right: #DADCE0 1px solid;
}

.respondent-session-sidebar .test-name {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
}

.respondent-session-sidebar .tasks {
    display: flex;
    flex-direction: column;
}

.respondent-session-sidebar .task {
    cursor: pointer;
    border: #DADCE0 1px solid;
    border-right: none;
    padding: 0 14px;
    transition: 100ms;
}

.respondent-session-sidebar .task:hover {
    background-color: #ececec;
    border: #ececec 1px solid;
    border-right: none;
}

.respondent-session-sidebar .task.active {
    cursor: default;
    background-color: #ececec;
    border: #ececec 1px solid;
    border-right: none;
    padding-bottom: 15px;
}

.respondent-session-sidebar .task-name {
    font-size: 22px;
    font-weight: 600;
    padding: 15px 0;
}

.respondent-session-sidebar .task-info {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.respondent-session-sidebar .task .task-info{
    opacity: 0;
    height: 0;
    pointer-events: none;
}

.respondent-session-sidebar .task.active .task-info{
    opacity: 1;
    height: auto;
    pointer-events: all;
}

.respondent-session-sidebar .finish-test-button {
    width: 90%;
    margin-top: auto;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 17px;
    padding: 8px 0;
}

.respondent-session-page .answer-block {
    width: 100%;
}

.respondent-session-page .answer-block .answer-input {
    padding: 10px;
    margin: 0;
    border: 1px solid #DADCE0;
    border-left: none;
    border-top: none;
    outline: none;
    width: 100%;
    height: calc(100% - 240px);
    resize: none;
    font-family: "JetBrains Mono", serif;
    font-size: 17px;
}

.answer-evaluation-block {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 20px 30px;
    height: 240px;
    align-items: end;
}

.answer-evaluation-block .evaluation-result {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #DADCE0;
    margin: 10px 0;
}

.answer-evaluation-block .standard-button {
    height: 55px;
    font-size: 20px;
    font-weight: 600;
}

.answer-evaluation-block .evaluate-code-button {
    width: 100%;
}

.answer-evaluation-block .save-answer-button {
    background-color: #6caf30;
    width: 360px;
}

.answer-evaluation-block .save-answer-button:hover {
    background-color: #529d15;
}

.result-page {
    display: flex;
    justify-content: center;
}

.result-block {
    padding: 20px 40px;
    margin-top: 40px;
    border: #1A73E8 2px solid;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.result-block p {
    text-align: center;
    color: #1A73E8;
    font-weight: 600;
    font-size: 25px;
}